@import "tailwindcss";

/* Scrollbars ocultos */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  background-color: #050C0F;
}

/* Estilos para PageSection */
h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}
